{{> head }}
{{> menu }}

<div class="row">
    <div class="col-8">
        <h1>
            Sobre Nosotros
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis non repellendus nulla quam atque doloremque quibusdam molestias odio, repellat magnam consequatur laboriosam libero doloribus molestiae dolorum dicta voluptates veniam culpa.
        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/fotish.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}